.btn-responder {
    margin: 10px;
}

.container-botones {
    margin: auto;
}

.pregunta {
    /* top: 50%;
    left: 50%;
    margin: auto;
    position: fixed; */
}

.botones-responder {
    display: inline-block;
}